:root {
  /* SIZING */
  --toggle-width: 5rem;
  --button-width: 10rem;
  --default-padding: 1rem;
  --default-radius: .5rem;
  --default-content-font-size: 1.5rem;

  /* COLORS */
  --default-tab-text-color: white;
  --background-color: white;
  --color-dark: #535353;
  --color-primary: #188fa7;
  --color-light: white;
  --secondary-color: #9dbbae;
  --light-gray: #e7e7e7;
  --modal-overlay-color: rgba(0, 0, 0, 0.6);
}