@import url(./modal.css);
@import url(./collapse.css);
@import url(./toggle.css);
@import url(./tab.css);

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  font-family: 'Open Sans', sans-serif;
}

footer {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: var(--default-padding);
  background-color: var(--color-dark);
}

h1 {
  font-size: 6rem;
  margin: 1rem 0;
  text-align: center;
}

h6 {
  font-size: 1.2rem;
  color: var(--color-primary);
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.header p {
  text-align: center;
}

section {
  margin: 6rem 0;
}

section h1 {
  font-size: 4rem;
  text-align: start;
}

p {
  font-size: 2rem;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  font-size: 1.1rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

code {
  font-size: 1.2rem;
}


.container__main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  margin: 1rem 0;
}

.button {
  width: auto;
  display: inline-block;
  border: 0;
  outline: none;
  text-align: center;
  padding: var(--default-padding) 2rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  border-radius: var(--default-radius);
  cursor: pointer;
}

.button__primary {
  background-color: var(--color-primary);
  color: white;
}

.button__primary--outline {
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
}

.button__light {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.button__light--outline {
  color: var(--color-dark);
  border-color: var(--color-light);
  border: 1px solid var(--color-primary);
  background-color: transparent;
}

.button__circle {
  width: auto;
  min-width: 40px;
  min-height: 40px;
  display: inline-flex;
  border-radius: 100%;
  padding: var(--default-padding);
  transition: background-color .5s;
}

.button__circle svg {
  width: 20px;
  height: 20px;
}

.button__circle.button__primary--outline:hover {
  background-color: var(--color-primary);
}

.button__circle.button__light--outline:hover {
  background-color: var(--color-light);
}

.button__footer:hover path {
  fill: var(--color-dark);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
}