@import url(./_variables.css);

.toggle {
  width: var(--toggle-width);
  height: 20px;
  border: 1px solid #9dbbae;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  background-color: white;
}

.toggle::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(var(--toggle-width) / 2);
  height: inherit;
  background-color: var(--color-primary);
  border-radius: inherit;
  transition: all 0.5s;
}

input[type="checkbox"]:checked + .toggle { background-color: var(--secondary-color); }

input[type="checkbox"]:checked + .toggle::before { left: 50%; }